main{
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "f"
                        "m";
}

form{
    display: grid;
    grid-area: f;
    border: 2px black solid;
    background-color: lightblue;
    padding: 1em;
}
.member_info{
    display: grid;
    grid-area: m;
    border: 2px black solid;
    background-color: lightblue;
    padding: 1em;
}

.thanks{
    text-align: center;
    padding: 5rem;
    margin-top: -14px;
}

.join-button{
    background-color: lightblue;
    color: black;
}

@media (min-width: 600px){
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "f m";
    }
}
