
@media screen and (max-width: 640px) {
    main {
     
        font-style: italic;
        display: grid;
        grid-template-areas: "hero"
                             "event"
                             "weather"
                             "news"
                             "spotlights";
        grid-gap: 1em;
    }

    .join {
        display:none;
    }

    .main-hero{
        grid-area: hero;
        position: relative;      
        background-image: url('../images/15.jpg');    
        background-position: center;
        text-align: center;
        height: 400px;
        width: 450px; 
        margin-left: 1em;
    }


    .spotlights{
        display: flex;
        grid-area: spotlights;
        flex-direction: column;
        padding: 1em;
        border: 2px gray solid;
        background-color: #0E9EBF;;
    }
    
    .spotlight1{
        display: block;
        border: 2px white solid;
        background-color:#0E9EBF;;
        padding: 1em;
        min-height: 150px;
        align-items: center;
        text-align: center;
    }
    
    
    .spotlight2{
        display: block;
        border: 2px white solid;
        background-color: lightgray;
        padding: 1em;
        min-height: 150px;
    }
    
    .spotlight3{
        display: none;
    }

    .icon{
        display: block;
    }
  } 
  
 