
@media screen and (max-width: 640px) {
    main {
     
        font-style: italic;
        display: grid;
        grid-template-areas: "hero"
                             "event"
                             "weather"
                             "news"
                             "spotlights";
        grid-gap: 1em;
    }

    .join {
        display:none;
    }

    .main-hero{
        grid-area: hero;
        position: relative;      
        background-image: url('../images/15.jpg');    
        background-position: center;
        text-align: center;
        height: 400px;
        width: 600px; 
        margin-left: 1em;
    }
  } 
  
 