/* @media screen and (min-width: 1050px){ */
#fecha{
    background-color: #0E9EBF;
    border: 1px solid white;
    display: block;
    text-align: center;
    padding: 0.5rem;
    font-size: 18px;
}

#banner{
    display: none; 
    border: 1px solid white;
    background-color: #0E9EBF;
    padding: 0.5rem; 
    text-align: center;
    font-size: 18px;
}

h2{
    font-family: 'Playfair Display', serif;
}

h1{
    font-family: 'Caveat', cursive;
}

h3{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: black 1px 0 10px;
}

h4{
    font-size: 30px;
    display: center;
    color: white;
    text-shadow: white 1px 0 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B6DD;
    padding: 1em;
    color: white;
}

.date{
    grid-column-start: 1;
    grid-column-end: 4;
}
header{
    display: grid;
    grid-template-columns: 150px auto auto;
    grid-template-rows: repeat(3, auto);
    background-color: #00B6DD;
    margin-bottom: 1em;
    align-items: center;
}
.logo {
    width: 150px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.titulos {
    grid-column: 2/3;
    grid-row: 1/2;
}
.social {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
}
.icon{
    display: none;
}
.topnav{
    grid-column: 1/4;
    grid-row: 2/3;
}
.date{
    grid-column: 1/4;
    grid-row: 3/4;
}

#banner{
    grid-column: 1/8
}

header a img{
    height: 1cm;
}

header img{
    float: left;
    height: 150px;
    padding: 5px;
}

nav {
    margin: auto;
    padding: 1rem;
}

nav ul li:hover{
    background-color: rgb(56,56,56);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;  
}
  
nav ul li {
    min-width: 20%;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1.5px solid gray;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
  }
  

footer {
    margin-top: 1em;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-rows: 45 45 10; */
    grid-template-rows: 1fr auto ;
    align-content: center;
}

.contacto{
    grid-column: 3/4;
    grid-row: 1/2;
}

footer img{
    height: 250px;
    float: left;
    padding: 5px;
}

.pie{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
}

.hero{
    display: block;
    grid-area: hero;
    border: 2px gray solid;
    background-color: #0E9EBF;
    padding: 1em;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    bottom: 40%;
    right: 60%;
    transform: translate(0% , -60%);
  }

.event{
    display: block;
    grid-area: event;
    border: 2px gray solid;
    background-color: #0E9EBF;
    padding: 1em;
    margin-left: 1em;
}

#weather{
    display: block;
    grid-area: weather;
    text-align: center;
    border: 2px gray solid;
    background-color: #0E9EBF;
    padding: 1em;
    margin-left: 1em;
}

.weather img{
    width: 150px;
    height: 150px;
}

.news{
    display: block;
    grid-area: news;
    border: 2px gray solid;
    background-color: #0E9EBF;
    padding: 1em;
}

.spotlights{
    display: block;
    grid-area: spotlights;
    padding: 1em;
    border: 2px gray solid;
    background-color: #0E9EBF;
    margin-right: 1em;
}

.spotlight1{
    display: block;
    border: 2px white solid;
    background-color: #0E9EBF;
    padding: 1em;
}
.spotlight1 img{
    width: 150px;
    height: 150px;
    display: center;
}

.spotlight2{
    display: block;
    border: 2px white solid;
    background-color: #0E9EBF;
    padding: 1em;
}

.spotlight2 img{
    width: 150px;
    height: 150px;
    display: center;
}

.spotlight3{
    border: 2px white solid;
    background-color: #0E9EBF;
    padding: 1em;
}

.spotlight3 img{
    width: 150px;
    height: 150px;
    display: center;
}

.join{
    display: block;
    grid-area: join;
    border: 2px gray solid;
    background-color: #0E9EBF;
    padding: 1em;
    margin-left: 1em;
}

.joinbutton{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #04aa6d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.joinbutton:hover{
    background-color: #3e8e41;
}

.joinbutton:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.topnav {
    overflow: hidden;
    background-color: #00B6DD;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float: right;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #00B6DD;
  }
  
/* sizing */
main {

    font-style: italic;
    display: grid;
    grid-template-areas: "event hero hero spotlights"
                        "weather hero hero spotlights"
                        "join news news spotlights";
    grid-gap: 1em;
}
/* } */
