@media screen and (max-width: 850px){

    main{
        font-style: italic;
        display: grid;
        grid-template-areas: "hero hero" 
                            "news news" 
                            "spotlights spotlights" 
                            "join join"
                            "event weather";
        grid-gap: 1em;
        
    }
    header {
        grid-template-columns: 150px auto auto auto;
    }

    .spotlight3{
        display: none;
    }

    .icon {
        display: block;
        justify-self: end;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;

    }

    .date {
        grid-column: 1/5;
    }

    .main-hero{
        grid-area: hero;
        position: relative;      
        height: 700px; 
        width: 800px;
        background-image: url('../images/209ea9cb6c7737e7f0975203a97968f2.jpg'); 
        margin-left: 1em;   
    }

}